<div style="position: fixed; z-index: 99999; bottom: 20px; left: 20px; padding: 10px; background-color: {{ timer.bgcolor }}; color: {{ timer.fgcolor }}; font-size: 0.8em; text-align: center; border: 1px solid {{ timer.fgcolor }};">
    Process time: {{ timer.time }} ms
</div>